     <div class="form-group">
     <div class="col-md-4">
      <h3><label class="label label-info" for="titulo">Titulo:</label></h3>
      <input type="text" ng-model="serie.titulo" class="form-control" id="titulo" placeholder="Nome da serie">
	</div>
     <div class="col-md-3">
      <h3><label class="label label-info" for="ano">Ano:</label></h3>
      <input type="text" ng-model="serie.ano" class="form-control" id="ano" placeholder="Ano de lancamento">
      </div>
     	<div class="col-md-4" >
      	<h3><label class="label label-info" for="genero">Genero:</label></h3>
      	<input type="text" ng-model="serie.genero" class="form-control" id="genero" placeholder="Drama, Fantasia, etc...">
      </div>
      </div>
    <div class="form-group col-md-12">
      <h3><label for="sinopse" class="label label-info">Sinopse:</label></h3>
       <textarea ng-model="serie.sinopse" class="form-control" rows="5" id="sinopse"></textarea>
    </div>