  <div ng-controller="listCtrl">
  <div class="page-header">
		<h1>Todas as Series</h1>
  </div>
  <table class="table table-bordered table-striped">
      <tr>
        <th ng-click="ordenar('titulo')">Titulo</th>
        <th ng-click="ordenar('ano')">Ano</th>
        <th ng-click="ordenar('genero')">Genero</th>
      </tr>
      <tr ng-repeat="serie in series | filter:searchSerie | orderBy:order">
          <td>{{serie.titulo}}</td>
          <td>{{serie.ano}}</td>
          <td>{{serie.genero}}</td>
          <td>
      			<a class="btn btn-primary" href="#/serie/detalhes/{{serie.id}}">Detalhes</a>
      			<a class="btn btn-danger"  ng-click="apagarSerie(serie)">Apagar</a>
    	 </td>
      </tr>
  </table>
  </div>