<div ng-controller="ViewCtrl">
<div class="page-header">
		<h1>Detalhes de "{{serie.titulo}}"</h1>
</div>
<table class="table table-striped">
  <tr>
    <td>Titulo</td>
    <td>{{serie.titulo}}</td>
  </tr>
  <tr>
    <td>Ano</td>
    <td>{{serie.ano}}</td>
  </tr>
  <tr>
    <td>Genero</td>
    <td>{{serie.genero}}</td>
  </tr>
  <tr>
    <td>Sinopse</td>
    <td>{{serie.sinopse}}</td>
  </tr>
</table>
<div>
  <a class="btn btn-primary"  href="#/serie/edit/{{serie.id}}">Editar</a>
</div>
</div>